.grid {
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-gap: 20px;
  align-items: center;
}

users-to-follow-grid {
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 30px;
  align-items: center;

}

/* users-grid {
  display: grid;
  grid-template-rows: 3fr 3fr;
  grid-row-gap: 30px;
  grid-gap: 20px;
  align-items: center;
} */

div.users-to-follow {
  width: auto;
  /* height: 500px; */
  margin: 1em;
  padding: 1em;
}

.avatar {
  /* Rounded border */
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.avatar-img {
  /* Rounded border */
  border-radius: 50%;

  /* Take full size */
  height: 100%;
  width: 100%;
}

div.profile {
  width: auto;
  height: 485px;
  margin: 1em;
  padding: 1em;
  justify-content: center;
  /* display: inline-block; */
  background-color: #CCE6F4;
  border-radius: 12px;
}

body {
  /* font-family: 'Delius', cursive; */
  font-family: 'Trebuchet MS', Helvetica, sans-serif;

}

img.logo {
  height: 1.6em;
  font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive,
    fantasy;
  margin: 6%;
  color: #fff;
}

img {
  height: 20em;
  border-radius: 3px;
}

header.page-header {
  background: rgb(14, 174, 186);
  align-items: center;
  color: #fff;
  text-shadow: #000 0 0 .2em;
  display: grid;
  grid-template-columns: 0.005fr 0.8fr 0.5fr 1fr 5fr 3fr 0.5fr 0.5fr 0.005fr;
  grid-gap: 20px;
  width: 100%;
}

div.last-seen {
  text-align: right;
}

header.page-header>h1 {
  font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive,
    fantasy;
  margin: 2%;
}

footer {
  background-color: rgb(71, 108, 155);
  color: #fff;
  align-items: center;
  display: grid;
  grid-template-columns: 0.005fr 1fr 1fr 1fr 0.005fr;
  grid-gap: 20px;
  width: 100%;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

h1.show {
  transition: opacity 300ms;
}

h1.hide {
  opacity: 0;
}

h7.show {
  transition: opacity 300ms;
}

h7.hide {
  opacity: 0;
}

h5.show {
  transition: opacity 300ms;
}

h5.hide {
  opacity: 0;
}

img.show {
  transition: opacity 300ms;
  width: 100%;
  border-radius: 3px;
  border: 3px solid grey;
  display: flex;
}

img.hide {
  opacity: 0;
}

/* profile-img {
  width: 20em;
  border-radius: 3px;
  border: 3px solid rgb(173, 18, 18);
  display: flex;
  justify-items: center;
} */

.adopt-box {
  background-color: rgb(71, 108, 155);
  color: #fff;
  align-items: center;
  border: 1px solid black;
  padding-block: 2%;
  text-align: center;
  width: 96.6%;
  margin-left: 1.7%;
  margin-right: 1.7%;
  margin-bottom: 0.5em;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.adopt {
  display: grid;
  grid-template-columns: 0.005fr 3fr 3fr 3fr 0.005fr;
  grid-gap: 20px;
  align-items: center;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

div.cat {
  border-radius: 3px;
  border: 3px solid grey;
  display: grid;
  grid-template-rows: 8% 15% 7% 10%;
  grid-gap: 2px;


  width: 93%;
  height: 93%;
  padding: 2%;
  margin: auto;

}

img.cat-photo {
  height: auto;
  border-radius: 3px;
  border: 3px solid grey;
  /* justify-self: center; */
  display: inline-block;
}

li>a {
  color: #fff;
}

.wrapper {
  display: grid;
  grid-template-columns: 20% 39% 39%;
  /* grid-template-rows: 40% 40%; */
  /* height: 1000px;
  width: auto; */
  gap: 1em;
  grid-template-areas:
    "a b b"
    "c b b";
  align-content: space-between;
}

.item1 {
  grid-area: a;
}

.item2 {
  grid-area: b;
}

.item3 {
  grid-area: c;
}

div.overflow-auto {
  max-width: 2000px;
  max-height: 600px;
}

div.photo {
  height: 30em;
  border-radius: 3px;
  border: 3px solid grey;
  display: inline-block;
}