{% extends 'base.html' %}
{% block title %}Catsbe{% endblock %}

{% block body %}
<h1>Welcome furrends!</h1>

<h2>Log In</h2>
<form action="/login" method="POST">
    <p>
        Username <input name="username" type="text">
    </p>

    <p>
        Password <input name="password" type="password">
    </p>

    <p>
        <input type="submit">
    </p>
</form>

<h2>Create an Account</h2>
<form action="/users" method="POST">
    <p>
        Email <input name="email" type="text">
    </p>

    <p>
        Password <input name="password" type="password">
    </p>

    <p>
        <input type="submit">
    </p>
</form>
{% endblock %}
