{% extends 'base.html' %}

{% block title %}{{ user.username }} • Catsbe{% endblock %}

{% block body %}
<h1>{{ user.username }}</h1>
<div id="container"></div>

{% endblock %}

{% block js %}
<script src="/static/js/Header.jsx" type="text/jsx"></script>
<script src="/static/js/Footer.jsx" type="text/jsx"></script>
<script src="/static/js/UserProfile.jsx" type="text/jsx"></script>
<script src="/static/js/AllPhotos.jsx" type="text/jsx"></script>
<script src="/static/js/AllUsers.jsx" type="text/jsx"></script>
<script src="/static/js/AdoptCatNearMe.jsx" type="text/jsx"></script>
<script src="/static/js/App.jsx" type="text/jsx"></script>
{% endblock %}
